@page "/error"


<div class="card text-center">
	<div class="card-header">
		<h2 class="card-title btn-outline-success">Algo deu errado. Entre em contato com o administrador!</h2>
	</div>
	<div class="card-body">
		<img style="width:60%" src="assets/Error.jpg" alt="" />
		<h2 class="card-title btn-outline-success"></h2>

		<button type="button" class="btn btn-success"
				@onclick="NavigateToHome">
			Voltar
		</button>
	</div>

</div>

