/* /Components/PageSizeDropDown.razor.rz.scp.css */
.form-control[b-2wlauqwoww] {
	width: auto;
	float: right;
}
/* /Components/Search.razor.rz.scp.css */
.search-input[b-cf68y67uct] {
	margin-bottom: 10px;
}
/* /Pages/CustomNotFound.razor.rz.scp.css */
.customNotFound[b-l8pymh6fvm] {
	text-align: center;
	color: red;
	font-size: 35px;
	height:800px;
	box-shadow: 1px 1px 1px grey;
	background-image: url("assets/404.jpg");
	background-repeat: no-repeat;
}
/* /Pages/Index.razor.rz.scp.css */
.center[b-euoedi7shv] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}


/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-lghln11dbu] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lghln11dbu] {
    flex: 1;
}

.sidebar[b-lghln11dbu] {
    background-image: linear-gradient(180deg, rgb(4, 94, 17) 0%, #038a3b 70%);
}

.top-row[b-lghln11dbu] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-lghln11dbu]  a, .top-row[b-lghln11dbu]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-lghln11dbu]  a:hover, .top-row[b-lghln11dbu]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-lghln11dbu]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lghln11dbu] {
        display: none;
    }

    .top-row.auth[b-lghln11dbu] {
        justify-content: space-between;
    }

    .top-row[b-lghln11dbu]  a, .top-row[b-lghln11dbu]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lghln11dbu] {
        flex-direction: row;
    }

    .sidebar[b-lghln11dbu] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lghln11dbu] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-lghln11dbu]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-lghln11dbu], article[b-lghln11dbu] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1a0efmsgoh] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1a0efmsgoh] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1a0efmsgoh] {
    font-size: 1.1rem;
}

.oi[b-1a0efmsgoh] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1a0efmsgoh] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1a0efmsgoh] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1a0efmsgoh] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1a0efmsgoh]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-1a0efmsgoh]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1a0efmsgoh]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1a0efmsgoh] {
        display: none;
    }

    .collapse[b-1a0efmsgoh] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
