<div class="form-floating shadow">


	<select class="form-select" id="floatingSelect" aria-label="Floating label select example" @onchange="@OnSelectAsync">
		@if (NomeNormativoList.Any())
		{

				@foreach (var nome in NomeNormativoList)
				{
					<option value=@nome>@nome</option>
				}
		
		}
	</select>
	<label for="floatingSelect">Normativo</label>

		  
</div>