<div class="form-group shadow">
	<select class="form-select" @onchange="OnPageSizeChange">
		<option>2</option>
		<option>4</option>
		<option>10</option>
		<option>15</option>
		<option>20</option>
		<option selected="selected">50</option>
		<option>100</option>
		<option>150</option>
		<option>200</option>

	</select>
</div>