<div class="form-group">
	<select class="form-select" @onchange="OnPageSizeChange">
		<option>2</option>
		<option >4</option>
		<option >10</option>
		<option selected="selected">15</option>
		<option>20</option>
		<option>40</option>

	</select>
</div>