<section class="search-input">
	<input type="text" class="form-control" placeholder="Busca por Colaborador/Gerência/Coordenação/Normativo"
		   @bind-value="@SearchTerm" @bind-value:event="oninput"
		   @onkeyup="SearchChanged" />
</section>