<section>
	<select class="form-control" @onchange="ApplySort">
		<option value="-1">-Ordem por-</option>
		<option value="nomeFuncionario">Colaborador</option>
		<option value="nomeFuncionario desc">Colaborador: Descendente</option>
		<option value="NomeNormativo">Normativo</option>

	</select>
</section>