<div class="form-floating shadow">


	<select class="form-select" id="floatingSelectSort" aria-label="Floating Sort" @onchange="ApplySort">

		<option value="nomeFuncionario">Colaborador</option>
		<option value="nomeFuncionario desc">Colaborador: Descendente</option>
		<option value="DataLeitura">Data Aceite</option>
		<option value="DataLeitura desc">Data Aceite: Descendente</option>
		<option value="NomeGerencia">Gerência</option>
		<option value="NomeNormativo">Normativo</option>

	</select>
	<label for="floatingSelectSort">Ordenar Por</label>
</div>