<section>
	<select class="form-control" @onchange="ApplySort">
		<option value="-1">-Ordem por-</option>
		<option value="NomeColaborador">Colaborador</option>
		<option value="NomeNormativo">Normativo</option>
		<option value="NomeColaborador desc">Colaborador: Descendente</option>
	</select>
</section>